<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
    </head>
    <body>
        <div id="app">
            <div id="sumBox">
                <span>{{total}}</span>
                <span>{{subtotal}}</span>
            </div>

            <div id="buttonBox">
                <div class="buttonRow">
                    <button onclick="addtoSubTotal(7)">7</button>
                    <button onclick="addtoSubTotal(8)">8</button>
                    <button onclick="addtoSubTotal(9)">9</button>
                </div>
                <div class="buttonRow">
                    <button onclick="addtoSubTotal(4)">4</button>
                    <button onclick="addtoSubTotal(5)">5</button>
                    <button onclick="addtoSubTotal(6)">6</button>
                </div>
                <div class="buttonRow">
                    <button onclick="addtoSubTotal(1)">1</button>
                    <button onclick="addtoSubTotal(2)">2</button>
                    <button onclick="addtoSubTotal(3)">4</button>
                </div>

                <div class="actions">
                    <button onclick="actionClick('+')">+</button>
                    <button onclick="actionClick('-')">-</button>
                    <!-- <button onclick="actionClick('*')">*</button> -->
                </div>
            </div>
        </div>
    </body>

    <script src="app.js"></script>
</html>